<!DOCTYPE html>
<html>
<head>
  <title>Card Example</title>
  <style>
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      justify-items: center;
      margin: 0 auto;
      max-width: 800px;
    }

    .card {
      width: 300px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
      text-align: center;
    }

    .title {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

    .description {
      font-size: 18px;
      color: #666;
      margin-bottom: 20px;
    }

    .image {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }

    .button {
      padding: 10px 20px;
      border-radius: 4px;
      background-color: #333;
      color: #fff;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="card-container"> 
    <div class="card">
      <h1 class="title"><%-blog.Title%></h1>
      <p class="description"><%-blog.Description%></p>
      <img class="image" src="<%-blog.Image %>" alt="Image Description">
      <p><%-blog.createdAt%></p>
      <div class="button-container">
        <a href="/delete/<%-blog.id%>"><button class="button"> Delete</button></a>
        <button class="button">Edit</button>
      </div>
    </div>
  </div>
</body>
</html>
